* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* text-decoration: none; */
}


body {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  line-height: 1;
  background-color: #2D2432;
  color: #F3F8FA;
}

h1, p {
  color: #F3F8FA;
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  /* color: #F3F8FA; */
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid #5FB9B0;
  padding-bottom: 1em;
}

.description{
  white-space: pre-wrap;
  height: 78px;
  color: black;
  /* font-size: 1.2em; */
}

.time-block{
  text-align: center;
  border-radius: 10px;
}

.row {
  white-space: pre-wrap;
  height: 60px;
  margin: 0 4em;
  border-top: 1px solid #F3F8FA;
}

.hour {
  background-color: #F3F8FA;
  color: #000000;
  border-top: 1px solid #000000;
  text-align: center;
  padding-top: 1.5em;
}

.btnDiv {
  background-color: #355aab;
}
.saveBtn {
  /* border-left: 1px solid black; */
  /* border-top-right-radius: 15px;
  border-bottom-right-radius: 15px; */
  background-color: #355aab;
  color: white;
}

.saveBtn:hover {
  font-size: 30px;
  transition: all;
  /* 1s linear;  */
}



/*** MEDIA QUERIES  ***/

@media screen and (min-width: 576px) {
  body {
    font-size: 20px;
  }
  textarea {
    font-size: 16px;
  }
 .row {
   height: 70px;
 }

  
}
@media screen and (min-width: 640px) {
  body {
    font-size: 22px;
  }
  textarea {
    font-size: 20px;
  }
  .row {
    height: 80px;
  }
}

/*** reference code not used ***
 border-top-right-radius: 15px;
  border-bottom-right-radius: 15px; #06AED5

.past {
  background-color: #d3d3d3;
  color: black;
}
.present {
  background-color: #ff6961;
  color: white;
}
.future {
  background-color: #77dd77;
  color: white;
} ***/