* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* text-decoration: none; */
}


body {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  line-height: 1;
  background-color: #2D2432;
  color: #F3F8FA;
}

h1, p {
  color: #F3F8FA;
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  /* color: #F3F8FA; */
  border-left: 1px solid black;
  padding: 10px;
}

.display-3 {
  font-size: 3rem;
  font-weight: 250;
  line-height: 1.1;
}

.lead {
  font-size: 1.15em ;
}
.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 5px solid #5FB9B0;
  padding-bottom: 1em;
}

.description{
  white-space: pre-wrap;
  height: 78px;
  color: black;
  /* font-size: 1.2em; */
}

.form-control {
  font-size: 1.1em;
}

.time-block{
  text-align: center;
  border-radius: 10px;
}

.row {
  white-space: pre-wrap;
  height: 70px;
  margin: 0 4em;
  border-top: 1px solid #F3F8FA;
}

.hour {
  background-color: #F3F8FA;
  color: #000000;
  border-top: 1px solid #000000;
  font-size: 1.2em;
  text-align: center;
  padding-top: 1.5em;
}

.btnDiv {
  background-color: #355aab;
}
.saveBtn {
  /* border-left: 1px solid black; */
  /* border-top-right-radius: 15px;
  border-bottom-right-radius: 15px; */
  background-color: #355aab;
  color: white;
}

.saveBtn:hover {
  font-size: 30px;
  transition: all;
  /* 1s linear;  */
}



/*** MEDIA QUERIES  ***/


/****   576px and smaller ******/
@media screen and (min-width: 576px) {
  body {
    font-size: 20px;
  }
  textarea {
    font-size: 16px;
  }
  .jumbotron {
    border-bottom: 8px solid #5FB9B0;

  }
  .row {
    height: 70px;
  }
  .hour, .form-control {
    font-size: 0.9em;
  }
  .hour {
    padding: 15px;
  }
}


/*** MQ FOR SMALLER SCREENS  and LARGER TABLETS,  LAPTOPS  DESKTOPS  ***/
@media screen and (min-width: 640px) {
  body {
    font-size: 22px;
  }
  textarea {
    font-size: 20px;
  }
  .display-3 {
    font-size: 4.5rem;
    font-weight: 300;
    line-height: 1.2;
  }
  .row {
    height: 80px;
  }
}

